@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam Tutar</th>
        <th>Tarih</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Satisid</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.ToplamTutar</td>
            <td>@(((DateTime)item.Tarih).ToString("dd-MMM-yyyy"))</td>
            <td><a href="/Satis/SatisGetir/@item.Satisid" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@item.Satisid" class="btn btn-outline-secondary">Detaylar</a></td>
        </tr>
    }

</table>
<a href="/Satis/YeniSatis" class="btn btn-primary">Yeni Satış Ekle</a>


